.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.1);
  width: 10vw;
  height: 100%;
  z-index: 10;
  visibility: visible; 
  opacity: 1;
  transition: opacity 1s ease-in-out;
}  
  
.visibilityHidden {
  visibility: hidden;
  opacity: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.header__left {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 16px;
}
.header__content {
}
.header__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}
.header__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9D9D9D;;
}
.header__right {
}
.header__basket {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__basket__img {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.header__basket__price {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #5C5C5C;
}
.header__heart {
}
.header__user {
}
.main {
  max-width: 960px;
  margin: 60px;
}
.main__first-block{
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__search {
  position: relative;
  width: 250px;
  height: 45px;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
}
.main__search img{
  padding: 15px;
  
}

.search__close_criss {
  position: absolute;
  right: 0;
  top: 3px;  
}

.search__close_criss:hover {
  background-color: red;
}

.main__search-input { 
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5c5858;
  padding: 15px 0;
  border: 0;
  height: 40px;
}

.main__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
  
}
.main__box {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.box {
}


